<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-parallax-header parallax-container" style="height: 400px;">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/about/header/img-01.jpg'|theme }}" alt="image"></div>
      <div class="lt-parallax-content">
        <div class="valign-wrapper" style="height: 400px;">
          <div class="valign">
            <h2 class="lt-title">Blog Beeline</h2>
            <div class="row">
                <div class="col s1"></div>
                <div class="col s10">
                    <p class="lt-subtitle flow-text">
                        Quer saber como a tecnologia pode te ajudar a alavancar os resultados da sua empresa ou
                        tirar aquela ideia do papel?
                    </p>
                </div>
                <div class="col s1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
