title = "Blog"
url = "/blog"
layout = "octaskin"
description = "Aqui no Blog da Beeline você vai encontrar conteúdo que o ajudaram a entender melhor o mundo de desenvolvimento de software. Com esse conhecimento você fica mais seguro ao fechar negócio e ao longo do desenvolvimento.
Se você quer saber como a tecnologia pode te ajudar, investir da melhor forma em seu software e alavancar os resultados da sua empresa ou tirar aquela ideia do papel, conto com a gente!"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Não encontramos nenhum Post"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "blog-post"
==


<section id="lt-header" class="lt-section lt-section-fullwidth section">
    <div class="lt-container container">
        <div class="lt-content lt-header-content">
            {% partial "pages-about/header" %}
        </div>
    </div>
</section>

<section id="lt-blog-posts" class="lt-section section">
    <div class="lt-container container">
        <div class="lt-content">

            {% set posts = blogPosts.posts %}

            <ul class="post-list">
                {% for post in posts %}
                    <li>
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                        <p class="info" style="font-size: 12px;">
                            Postado
                            {% if post.categories.count %} in {% endif %}
                            {% for category in post.categories %}
                                <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                            em {{ post.published_at|date('d/m/Y') }}
                        </p>

                        <p class="excerpt">{{ post.summary }}</p>
                    </li>
                {% else %}
                    <li class="no-data">{{ noPostsMessage }}</li>
                {% endfor %}
            </ul>

            {% if posts.lastPage > 1 %}
                <ul class="pagination">
                    {% if posts.currentPage > 1 %}
                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
                    {% endif %}

                    {% for page in 1..posts.lastPage %}
                        <li class="{{ posts.currentPage == page ? 'active' : null }}">
                            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if posts.lastPage > posts.currentPage %}
                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            {% endif %}


        </div>
    </div>
</section>