title = "Blog post"
url = "/blog/:slug"
layout = "octaskin"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==

{% set post = blogPost.post %}

{% if post.featured_images.count %}
<div id="lt-header" class="lt-section lt-section-fullwidth section">
<div class="lt-container container">
    <div class="lt-content lt-header-content">

        <div class="lt-row row">
            <div class="lt-col col s12">
                <div class="lt-parallax-header parallax-container" style="height: 330px;">
                    <div class="lt-parallax parallax">
                        {% for image in post.featured_images %}
                            <img data-src="{{ image.filename }}"
                                 src="{{ image.path }}"
                                 alt="{{ image.description }}">
                        {% endfor %}
                    </div>
                    <!--
                    <div class="lt-parallax-content">
                        <div class="valign-wrapper" style="height: 380px;">
                            <div class="valign">
                                <h2 class="lt-title">Blog Beeline</h2>
                                <div class="row">
                                    <div class="col s1"></div>
                                    <div class="col s10">
                                        <p class="lt-subtitle flow-text" style="line-height: 30px;">
                                            Quer saber como a tecnologia pode te ajudar a alavancar os resultados da sua empresa ou
                                            tirar aquela ideia do papel?
                                        </p>
                                    </div>
                                    <div class="col s1"></div>
                                </div>
                            </div>
                        </div>
                    </div>      -->
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endif %}

<section id="lt-services" class="lt-section section">
    <div class="lt-container container">
        <div class="lt-content" style="padding-top: 0px !important;">

            <p class="info" style="font-size: 12px;">
                Postado
                {% if post.categories.count %} in
                {% for category in post.categories %}
                <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                em {{ post.published_at|date('d/m/Y') }}
            </p>

            <div class="content">{{ post.content_html|raw }}</div>

        </div>
    </div>
</section>