title = "Acesso Interno"
url = "/cadastrar-acesso-interno"
layout = "octaskin"
is_hidden = 0
==


<div style="color: #FFFFFF; background-color: #047ec3; padding-top: 80px;">
    <div class="lt-container container">

        <div class="lt-row row">
            <div class="lt-col col s12">
                <h2 class="lt-title center">
                    <i class="large pe-7s-attention"></i><br>
                    Esta página deverá ser acessada apenas por colaboradores da Beeline
                </h2>
                <p class="flow-text">
                    Ao acessar essa página um Cookie será salvo no seu navegador com o nome "acessoInternoBeeline",
                    ele serve para informar ao Google Analytics que você é um colaborador da Beeline e seu acesso
                    não deverá ser contado nas estatiscas de acessos do nosso site ou blog.
                </p>
                <p class="flow-text">
                    O Cookie salvo em seu navegador tem validade de 365 dias, se você é colaborador da beeline
                    acesse essa página de 11 em 11 meses.
                </p>
                <p class="flow-text secondary-content" style="background-color: #ffffff;">
                    Se você não é colaborador da Beeline exclua o Cookie com nome "acessoInternoBeeline" do seu navegador imediatamente.
                </p>
                <a href="https://www.youtube.com/watch?v=4nT2uFCNv_4" target="_blank" style="color: #000090;">
                    Clique aqui e veja oque foi feito
                </a>
                <p>
                    obs: Ainda é contabilizado o PageView do usuário interno, se exclui apenas "Sessões" e "Usuarios"
                    da contagem do Google Analytics.
                </p>
            </div>
        </div>

    </div>
</div>
