== Pagina fora do ar

title = "Contact"
url = "/contact"
layout = "octaskin"
is_hidden = 0
==

<section id="lt-header" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-header-content">
      {% partial "pages-contact/header" %}
    </div>
  </div>
</section>

<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
      {% partial "pages-contact/mainpage" %}
    </div>
  </div>
</section>
