title = "Home"
url = "/"
layout = "octaskin"
is_hidden = 0
==

<section id="lt-slideshow" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-slideshow-content">
      {% partial "pages-home/slideshow" %}
    </div>
  </div>
</section>

<section id="lt-services" class="lt-section section" style="background-color: #047ec3;">
    <div class="lt-container container">
        <div class="lt-content lt-services-content">
            {% partial "pages-home/services" %}
        </div>
    </div>
</section>

<!--
<section id="lt-feature" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-feature-content">
      {% partial "pages-home/feature" %}
    </div>
  </div>
</section>  -->

<section id="lt-mainpage" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
      {% partial "pages-home/mainpage" %}
    </div>
  </div>
</section>

<section id="lt-utility" class="lt-section section" style="background-color: #047ec3;">
    <div class="lt-container container">
        <div class="lt-content lt-utility-content">
            {% partial "pages-home/utility" %}
        </div>
    </div>
</section>

<section id="lt-bottom" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-bottom-content">
      {% partial "pages-home/bottom" %}
    </div>
  </div>
</section>

<section id="lt-extension" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-extension-content">
      {% partial "pages-home/extension" %}
    </div>
  </div>
</section>
