<div class="lt-row row">
  <div class="lt-col col s12">
    <div>
        Feito com <i class="fa fa-heart" alt="amor"></i> pela Beeline -
        © BEELINE. TODOS OS DIREITOS RESERVADOS. DESIGN BY
        <a href="https://br.linkedin.com/in/gabriel-nascimento-79073349" target="_blank">
            GABRIEL N. LIMA
        </a>
    </div>
  </div>  
</div>
