<div class="lt-col col s12">
  <div class="lt-social-buttons fixed-action-btn horizontal">

    <a class="btn-floating blue darken-4" href="https://www.facebook.com/Gabriel-N-Lima-657640801065634" target="_blank">
      <i class="fa fa-facebook" style="font-size: 18px;"></i>
    </a>
  <!-- /*
    <ul>
      <li>
        <a class="btn-floating blue darken-4" href="https://www.facebook.com/laratify" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a class="btn-floating blue" href="https://twitter.com/laratify" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a class="btn-floating orange darken-4" href="https://octobercms.com/author/laratify" target="_blank"><i class="fa fa-leaf fa-rotate-270"></i></a>
      </li>
      <li>
        <a class="btn-floating black" href="https://github.com/laratify/octobercms-octaskin" target="_blank"><i class="fa fa-github"></i></a>
      </li>
    </ul>
    */ -->
  </div>
</div>
