<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title center">Quem somos</h2>
    <p>
        Acreditamos que atender suas necessidades com objetividade é o caminho
        para o melhor resultado final.
        Soluções inovadoras estão em nossa alma trabalhamos com as tecnologias mais produtivas do mercado
        e com metodologias ágeis de desenvolvimento.
        Tudo isso nos permite ter um excelente resultado final, com simplicidade e atendendo todas as suas necessidades.
    </p>
    <p>
        A Beeline é feita de pessoas competentes e determinadas, a qualidade delas significa a qualidade da Beeline.
        Aqui você conversa com especialistas e chama a gente pelo nome. Sem transferências e enrolações.
        Esses são os maiores responsáveis por gerar resultado para você.
    </p>
  </div>
</div>

<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="lt-card card z-depth-1">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ 'assets/img/pages/home/bottom/sorriso-negocio-edit2.jpg'|theme }}">
      </div>
      <div class="card-content">
        <span class="lt-card-title card-title activator grey-text text-darken-4">Gabriel Lima</span>
        <p class="lt-card-subtitle">Negócio</p>
        <p class="lt-card-social-buttons">
          <a href="https://br.linkedin.com/in/gabriel-nascimento-79073349" target="_blank">
              <i class="lt-card-social-button blue-text text-darken-4 fa fa-linkedin-square"></i>
          </a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="lt-card-title card-title grey-text text-darken-4">Gabriel Lima<i class="material-icons right">close</i></span>
        <p>
            Experiência em Gestão e Desenvolvimento de Software, já passou por diferentes mercados.<br>
            Startup: Bambuzza e Carambolla Roupas<br>
            Fábricas de Software: Iclass, Lumis e Ninebee<br>
            Software para o mercado financeiro: CETIP, Wdev.
        </p>
      </div>
    </div>
  </div>
  <div class="col m4 s12">
    <div class="lt-card card z-depth-1">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ 'assets/img/pages/home/bottom/Gabriel-seixas-edit2.jpg'|theme }}">
      </div>
      <div class="card-content">
        <span class="lt-card-title card-title activator grey-text text-darken-4">Gabriel Seixas</span>
        <p class="lt-card-subtitle">Desenvolvimento</p>
        <p class="lt-card-social-buttons">
            <a href="https://br.linkedin.com/in/gabriel-sales-seixas-5033023a" target="_blank">
                <i class="lt-card-social-button blue-text text-darken-4 fa fa-linkedin-square"></i>
            </a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="lt-card-title card-title grey-text text-darken-4">Gabriel Seixas<i class="material-icons right">close</i></span>
        <p>
            Desenvolvedor com 5 anos de experiência, passandopor empresas como Paramaker, Webedia e Working Minds
        </p>
      </div>
    </div>
  </div>
  <div class="col m4 s12">
    <div class="lt-card card z-depth-1">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ 'assets/img/pages/home/bottom/rodrigo-m-edit1.jpg'|theme }}">
      </div>
      <div class="card-content">
        <span class="lt-card-title card-title activator grey-text text-darken-4">Rodrigo Muniz</span>
        <p class="lt-card-subtitle">Marketing</p>
        <p class="lt-card-social-buttons">
            <a href="https://br.linkedin.com/in/rodrigomunizpacheco" target="_blank">
                <i class="lt-card-social-button blue-text text-darken-4 fa fa-linkedin-square"></i>
            </a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="lt-card-title card-title grey-text text-darken-4">Rodrigo Muniz<i class="material-icons right">close</i></span>
        <p>Em construção...</p>
      </div>
    </div>
  </div>
</div>
