<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title center">O que já fizemos</h2>
  </div>
</div>

<div class="lt-row row">
    <div class="lt-col col m6 s12">
        <div class="card grey lighten-3 z-depth-0">
            <div class="card-image">
                <a href="http://www.tudogostoso.com.br" target="_blank">
                    <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/home/extension/tudo-gostoso.jpg'|theme }}">
                </a>
            </div>
            <div class="card-action valign-wrapper" style="padding-bottom: 0px;">
                <img class="circle responsive-img" style="height: 65px; width: 65px;"
                     src="{{ 'assets/img/pages/home/bottom/Gabriel-seixas-edit2.jpg'|theme }}" alt="user">
                <span class="valign" style="font-size: 11px; margin-left: 10px; font-weight: 800;">Gabriel Seixas</span>
            </div>
            <div class="card-content">
                <p>
                    Atuei na equipe de desenvolvimento do maior site de receitas do Brasil. <br>
                    <a href="http://www.tudogostoso.com.br" target="_blank">www.tudogostoso.com.br</a>
                </p>
            </div>
        </div>
    </div>
    <div class="lt-col col m6 s12">
        <div class="card grey lighten-3 z-depth-0">
            <div class="card-image">
                <a href="https://clubedevantagens.bradescoseguros.com.br/meu-local" target="_blank">
                    <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/home/extension/clube-vantagens.jpg'|theme }}">
                </a>
            </div>
            <div class="card-action valign-wrapper" style="padding-bottom: 0px;">
                <img class="circle responsive-img" style="height: 65px; width: 65px;"
                     src="{{ 'assets/img/pages/home/bottom/sorriso-negocio-edit2.jpg'|theme }}" alt="user">
                <span class="valign" style="font-size: 11px; margin-left: 10px; font-weight: 800;">Gabriel Lima</span>
            </div>
            <div class="card-content">
                <p>
                    Atuei na equipe de desenvolvimento para a Bradesco Seguros no portal. <br>
                    <a href="https://clubedevantagens.bradescoseguros.com.br/meu-local" target="_blank">
                        Clube de Vantagens Bradesco
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="lt-row row">
    <div class="lt-col col m6 s12">
        <div class="card grey lighten-3 z-depth-0">
            <div class="card-image">
                <a href="https://wwws.bradescoseguros.com.br/100corretor/br/home/default.asp" target="_blank">
                    <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/home/extension/100-corretor2.jpg'|theme }}">
                </a>
            </div>
            <div class="card-action valign-wrapper" style="padding-bottom: 0px;">
                <img class="circle responsive-img" style="height: 65px; width: 65px;"
                     src="{{ 'assets/img/pages/home/bottom/sorriso-negocio-edit2.jpg'|theme }}" alt="user">
                <span class="valign" style="font-size: 11px; margin-left: 10px; font-weight: 800;">Gabriel Seixas</span>
            </div>
            <div class="card-content">
                <p>
                    Atuei na equipe de desenvolvimento para a Bradesco Seguros no portal. <br>
                    <a href="https://wwws.bradescoseguros.com.br/100corretor/br/home/default.asp" target="_blank">
                        100% Corretor
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="lt-col col m6 s12">
        <div class="card grey lighten-3 z-depth-0">
            <div class="card-image">
                <a href="https://wwws.bradescoseguros.com.br/100Corretor/br/auto/avisodesinistro/ini_autore.asp" target="_blank">
                    <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/home/extension/auto-re4.jpg'|theme }}">
                </a>
            </div>
            <div class="card-action valign-wrapper" style="padding-bottom: 0px;">
                <img class="circle responsive-img" style="height: 65px; width: 65px;"
                     src="{{ 'assets/img/pages/home/bottom/sorriso-negocio-edit2.jpg'|theme }}" alt="user">
                <span class="valign" style="font-size: 11px; margin-left: 10px; font-weight: 800;">Gabriel Lima</span>
            </div>
            <div class="card-content">
                <p>
                    Atuei na equipe de desenvolvimento para a Bradesco Seguros no portal. <br>
                    <a href="https://wwws.bradescoseguros.com.br/100Corretor/br/auto/avisodesinistro/ini_autore.asp" target="_blank">
                        Bradesco Auto/RE
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="lt-row row">
    <div class="lt-col col m6 s12">
        <div class="card grey lighten-3 z-depth-0">
            <div class="card-image">
                <iframe width="100%" height="300"
                        src="https://www.youtube.com/embed/4tTJiK71HEk" frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <div class="card-action valign-wrapper" style="padding-bottom: 0px;">
                <img class="circle responsive-img" style="height: 65px; width: 65px;"
                     src="{{ 'assets/img/pages/home/bottom/sorriso-negocio-edit2.jpg'|theme }}" alt="user">
                <span class="valign" style="font-size: 11px; margin-left: 10px; font-weight: 800;">Gabriel Seixas</span>
            </div>
            <div class="card-content">
                <p style="font-size: 16px;">
                    Fui fundador da Startup e desenvolvi seu e-commerce.<br>
                    <a href="http://www.facebook.com/CarambollaRoupas" target="_blank">
                        Carambolla Roupas
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="lt-col col m6 s12">
        <div class="card grey lighten-3 z-depth-0">
            <div class="card-image">
                <a href="https://wwws.bradescoseguros.com.br/100Corretor/br/auto/avisodesinistro/ini_autore.asp" target="_blank">
                    <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/home/extension/bambuzza.jpg'|theme }}">
                </a>
            </div>
            <div class="card-action valign-wrapper" style="padding-bottom: 0px;">
                <img class="circle responsive-img" style="height: 65px; width: 65px;"
                     src="{{ 'assets/img/pages/home/bottom/sorriso-negocio-edit2.jpg'|theme }}" alt="user">
                <span class="valign" style="font-size: 11px; margin-left: 10px; font-weight: 800;">Gabriel Lima</span>
            </div>
            <div class="card-content">
                <p>
                    Fui co-fundador da Startup e desenvolvi seu sistema. <br>
                    <a href=""> <!--/portifolio/bambuzza -->
                        Bambuzza
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


<!--

        <div class="item">
            <div class="lt-owl-carousel-item item">
                <div class="lt-testimonial-container">
                    <div class="lt-testimonial-content flow-text">

                        <div class="row">
                            <div class="col l2 m1"></div>
                            <div class="col l8 m10 s12">
                                <div class="card z-depth-0">
                                    <div class="card-image">
                                        <iframe width="100%" height="300"
                                                src="https://www.youtube.com/embed/4tTJiK71HEk" frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col m4 s12">
                                                <div class="lt-testimonial-author-img">
                                                    <img class="circle responsive-img"
                                                         src="{{ 'assets/img/pages/home/bottom/sorriso-negocio-edit2.jpg'|theme }}"
                                                         alt="user">
                                                </div>
                                                <p style="font-size: 16px; margin-top: 5px;">Gabriel Lima</p>
                                            </div>
                                            <div class="col m8 s12">
                                                <p style="font-size: 16px;">
                                                    Fui fundador da Startup e desenvolvi seu e-commerce.<br>
                                                    <a href="http://www.facebook.com/CarambollaRoupas"
                                                       target="_blank">
                                                        Carambolla Roupas
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

-->

<!--
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit fugiat quia doloribus obcaecati libero eum doloremque neque amet fugit magni</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-img"><img class="circle responsive-img" src="{{ 'assets/img/pages/home/extension/img-02.jpg'|theme }}" alt="user"></div>
                <div class="lt-testimonial-author-name">Robert Brown</div>
                <div class="lt-testimonial-author-position">Manager of Desynz</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit fugiat quia doloribus obcaecati libero eum doloremque neque amet fugit magni</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-img"><img class="circle responsive-img" src="{{ 'assets/img/pages/home/extension/img-03.jpg'|theme }}" alt="user"></div>
                <div class="lt-testimonial-author-name">James Powell</div>
                <div class="lt-testimonial-author-position">CEO of iQooQ</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
-->
