<div class="lt-vertical-spacer"></div>
<div class="center">
    <div class="lt-row row">
        <div class="lt-col col s12">
            <h2 class="lt-title">Como Funciona</h2>
        </div>
    </div>
</div>
<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
    <div class="lt-col col m6 s12">
        <div class="parallax-container">
            <div class="lt-parallax parallax">
                <img src="{{ 'assets/img/pages/home/mainpage/1-descricao-melhor-700x447-edit3.jpg'|theme }}" alt="image">
            </div>
        </div>
    </div>
    <div class="lt-col col m6 s12">
        <div class="lt-super-large-padding center">
            <div class="lt-col col s12">
                <h2 class="lt-title" style="margin-bottom: 5px;">Faça uma descrição</h2>
            </div>
            <div class="lt-col col s12">
                <ul id="lt-materializecss-tab" class="lt-tabs tabs">
                    <li class="tab lt-col col s4"><a class="active" href="#lt-materializecss-tab1">Vou fazer</a></li>
                    <li class="tab lt-col col s4"><a href="#lt-materializecss-tab2">Quero Ajuda</a></li>
                </ul>
            </div>
            <div id="lt-materializecss-tab1" class="lt-tab-content lt-col col s12">
                <p style="margin-bottom: 12px">
                    Faça uma descrição simples por escrito de cada tela e funcionalidade
                    do software que você deseja e nos envie. Precisamos disso para elaborar seu orçamento.
                </p>
                <a href="/storage/app/media/descricao-app-exemplo.pdf" target="_blank"
                   class="waves-effect waves-light btn" style="color: #FFFFFF;">
                    Veja o Exemplo
                </a>
            </div>
            <div id="lt-materializecss-tab2" class="lt-tab-content lt-col col s12">
                <p style="margin-bottom: 12px">
                    Não se preocupe, faremos uma consultoria com você onde vamos colher suas necessidades
                    e te ajudar a fazer a descrição completa do software mais adequado.
                </p>
                <a href="#consultoria-como-funciona" target="_blank"
                   class="waves-effect waves-light btn lt-modal-trigger modal-trigger" style="color: #FFFFFF;">
                    Como Funciona
                </a>
                <div id="consultoria-como-funciona" class="modal">
                    <div class="modal-content">

                        <div class="row">
                            <div class="col s12">
                                <div class="center">
                                    <h2 style="font-size: 24px; margin-top: 15px;">Como funciona</h2>
                                    <p class="left-align">
                                        O objetivo dessa consultoria é fazer a definição por escrito do software mais adequado
                                        para você, tomando como referência suas necessidades, desejos e objetivos.
                                        Faremos isso através de video conferências ou pessoalmente se for viável.
                                        Ao final você terá essa definição e além disso, uma prévia do nosso trabalho para
                                        investir no seu software com mais segurança, tudo isso pagando um preço muito inferior
                                        ao do seu software.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="center">
                                    <i class="large pe-7s-users primary-color-text"></i>
                                    <h2 style="font-size: 24px; margin-top: 15px;">Nossa Primeira Conversa</h2>
                                    <p >
                                        No nosso primeiro encontro conversaremos sobre seu softaware, objetivos e necessidades.
                                        Estarei disponível para esclarecer qualquer dúvida sua e fecharmos a consultoria
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="center">
                                    <i class="large pe-7s-id primary-color-text"></i>
                                    <h2 style="font-size: 24px; margin-top: 15px;">Seus Negócios e Necessidades</h2>
                                    <p >
                                        No segundo encontro vamos entender melhor seu negócio, necessidades e desejos,
                                        assim como o objetivo do software. Em seguida vamos sugerir as melhores soluções
                                        para o seu caso e começar a esboçar a descrição do seu software.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="center">
                                    <i class="large pe-7s-note2 primary-color-text"></i>
                                    <h2 style="font-size: 24px; margin-top: 15px;">Descrição do Seu Software</h2>
                                    <p >
                                        Nesse ultimo encontro vamos escrever toda a descrição do seu software, com isso você
                                        poderá ter um orçamento exato para comparar orçamentos, fechar negócio e iniciar o desenvolvimento.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <h2 style="font-size: 24px; margin-top: 15px;">Orçamento da Consultoria</h2>
                                <div class="card">
                                    <i class="large pe-7s-cash primary-color-text"></i>
                                    <div class="card-content">
                                        <p>
                                            Geralmente a consultoria para a definição de um software simples consome de 2 a
                                            4 horas e a Beeline cobra R$100,00 por hora.
                                            Nos envie um email com o assunto "ajuda com a descrição", seu nome e telefone
                                            e ganhe a primeira parte da consultoria gratuitamente:
                                            beeline.consultoria@gmail.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lt-row row">
    <div class="lt-col col m6 s12">
        <div class="lt-super-large-padding center">
            <div class="lt-col col s12">
                <h2 class="lt-title">Vamos conversar</h2>
            </div>
            <p>
                Estaremos disponíveis para esclarecer todas as suas dúvidas e faremos pequenos ajustes na descrição
                do seu software se necessário. Faremos isso por Skype ou pessoalmente se possível.
                Também vamos conversar sobre preço e prazo do desenvolvimento e fechar o negócio.
            </p>
        </div>
    </div>
    <div class="lt-col col m6 s12">
        <div class="parallax-container">
            <div class="lt-parallax parallax">
                <img src="{{ 'assets/img/pages/home/mainpage/2-vamos-conversar-edit3.jpg'|theme }}" alt="image">
            </div>
        </div>
    </div>
</div>

<div class="lt-row row">
    <div class="lt-col col m6 s12">
        <div class="parallax-container">
            <div class="lt-parallax parallax">
                <img src="{{ 'assets/img/pages/home/mainpage/3-prototipo-edit2.jpg'|theme }}" alt="image">
            </div>
        </div>
    </div>
    <div class="lt-col col m6 s12">
        <div class="lt-super-large-padding center">
            <div class="lt-col col s12">
                <h2 class="lt-title">Faremos seu Protótipo</h2>
            </div>
            <p>
                Cada software é único assim como as necessidades das empresas e pessoas que o utilizarão.
                Caso seja o melhor caminho, faremos o protóripo mais adequado para você.
            </p>
        </div>
    </div>
</div>

<div class="lt-row row">
    <div class="lt-col col m6 s12">
        <div class="lt-super-large-padding center">
            <div class="lt-col col s12">
                <h2 class="lt-title">Entregas contínuas</h2>
            </div>
            <p>
                Marcaremos datas semanais ou quinzenais para a entrega de cada parte do seu software e só prosseguiremos
                com a sua aprovação, assim você se mantém sempre informado e acompanha de perto a evolução do
                desenvolvimento até o final.
            </p>

        </div>
    </div>
    <div class="lt-col col m6 s12">
        <div class="parallax-container">
            <div class="lt-parallax parallax">
                <img src="{{ 'assets/img/pages/home/mainpage/4-entregas-edit6.jpg'|theme }}" alt="image">
            </div>
        </div>
    </div>
</div>