<div class="center" style="color: #FFFFFF;">
    <div class="lt-row row">
        <div class="lt-col col s12">
            <h2 class="lt-title">Nossos Serviços</h2>
            <p class="flow-text">
                Se você quer alavancar seu negócio ou tirar sua ideia do papel, conte com a gente.
            </p>
        </div>
    </div>

    <div class="lt-vertical-spacer"></div>

    <div class="lt-row row">
        <div class="lt-col col l3 m6 s12" style="margin-top: 20px; margin-bottom: 20px;">
            <i class="large pe-7s-browser"></i>
            <h2 class="lt-title" style="font-size: 24px;">Sistemas Web</h2>
        </div>
        <div class="lt-col col l3 m6 s12" style="margin-top: 20px; margin-bottom: 20px;">
            <i class="large pe-7s-phone"></i>
            <h2 class="lt-title" style="font-size: 24px;">Apps Mobile</h2>
        </div>
        <div class="lt-col col l3 m6 s12" style="margin-top: 20px; margin-bottom: 20px;">
            <i class="large pe-7s-ticket"></i>
            <h2 class="lt-title" style="font-size: 24px;">Lojas Online</h2>
        </div>
        <div class="lt-col col l3 m6 s12" style="margin-top: 20px; margin-bottom: 20px;">
            <i class="large pe-7s-news-paper"></i>
            <h2 class="lt-title" style="font-size: 24px;">Sites & Blogs</h2>
        </div>
    </div>

</div>
