==
<div class="lt-row row">
  <div class="lt-col col s12">
    
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
        
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/img-02-60.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">O Caminho Mais Simples Para Você</h2>
            <h5 class="lt-slider-subtitle" style="line-height: 25px;">
                Desenvolvemos seu software de uma maneira simples, objetiva e
                com foco no resultado por um preço que você pode pagar.
            </h5>
            <div class="lt-slider-button">
              <a href="https://goo.gl/forms/pH0YIBbsJszs4EfA2" target="_blank"
                 class="waves-effect waves-light btn-large primary-color-background">
                  <i style="font-size: 30px;" class="material-icons left">devices</i>Orçamento
              </a>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
    
  </div>
</div>