<div class="lt-row row">
  <div class="lt-col col m5 s12">
    <!-- <div class="flow-text">Receba nossos conteúdos e saiba mais sobre como conseguir seu software.</div> -->
      <div class="flow-text">Clique no Botão, preencha o formulário e receba o orçamento do seu software.</div>
  </div>
  <div class="lt-col col m7 s12 center-align">

      <a href="https://goo.gl/forms/pH0YIBbsJszs4EfA2" target="_blank"
         class="waves-effect waves-light btn-large btn" style="color: #FFFFFF;">
          <i class="material-icons left">assignment</i> Receba seu Orçamento
      </a>

    <!-- Begin MailChimp Signup Form -->

    <!--
    <div id="mc_embed_signup">
      <form action="//laratify.us14.list-manage.com/subscribe/post?u=9e48b47c28a1b93742ba12e5a&amp;id=e0a5daa468" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="input-field col m7 s12 mc-field-group">
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <label for="mce-EMAIL">Seu Melhor E-mail</label>
            <div id="mce-responses" class="clear">
            	<div class="response" id="mce-error-response" style="display:none"></div>
            	<div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            -->
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <!--
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9e48b47c28a1b93742ba12e5a_e0a5daa468" tabindex="-1" value=""></div>
          </div>
          <div class="input-field col m5 s12">
            <button class="waves-effect waves-light btn-large z-depth-0" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe <i class="material-icons right">email</i></button>
          </div>
        </div>
      </form>
    </div>
    -->
    <!--End mc_embed_signup-->
  </div>
</div>
