==
<div class="lt-navbar navbar-fixed">
  <nav class="lt-no-background">
    <div class="nav-wrapper">
      <div class="lt-container container">
        <a href="{{ 'home'|page }}" class="brand-logo white-text">
        <img src="{{ 'assets/img/menu/BEELINE-logo2.png'|theme }}" alt="beeline">
        </a>
        <a href="#" data-activates="mobile-menu" class="lt-mobile-toggle button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="{% if this.page.id == 'home' %}active{% endif %}">
              <a href="{{ 'home'|page }}">Home</a>
          </li>
          <li class="{% if this.page.id == 'blog' %}active{% endif %}">
              <a href="{{ 'blog'|page }}">Blog</a>
          </li>
          <li>
              <a href="https://goo.gl/forms/pH0YIBbsJszs4EfA2" target="_blank">Seu Orçamento</a>
          </li>
          <!--
          <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">About</a></li>
          <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">Portfolio</a></li>
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li> -->
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li class="{% if this.page.id == 'home' %}active{% endif %}">
              <a href="{{ 'home'|page }}">Home</a>
          </li>
          <li class="{% if this.page.id == 'blog' %}active{% endif %}">
            <a href="{{ 'blog'|page }}">Blog</a>
          </li>
          <li>
            <a href="https://goo.gl/forms/pH0YIBbsJszs4EfA2" target="_blank">Seu Orçamento</a>
          </li>
          <!--
          <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">About</a></li>
          <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">Portfolio</a></li>
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>