description = "Octaskin Layout"
==
<!DOCTYPE html>
<html lang="pt-br">
  <head>

      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TST4R2');</script>
      <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
    <meta name="keywords" content="{{ this.theme.keywords }}">
    <meta name="author" content="{{ this.theme.website_author }}">
    <title>{{ this.theme.website_name }} - {{ this.page.meta_title|default(this.page.title) }}</title>
    <link rel="canonical" href="{{ this.theme.website_url }}" />
    <link rel="icon" type="image/png" href="{{ 'assets/img/b-logo-icon.png'|theme }}" />

    {% if this.theme.load_google_fonts %}
      <link href="https://fonts.googleapis.com/css?family={{ this.theme.google_font_family }}" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_fontawesome %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_material_icons %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_stroke7_icons %}
      <link href="{{ 'assets/css/stroke7/stroke7-icon-font.min.css'|theme }}" rel="stylesheet">
    {% endif %}

    <link href="{{ ['assets/scss/style.scss']|theme }}" rel="stylesheet">

    {% partial "_addons/css" %}

    {% styles %}

    {% if this.theme.custom_css %}
      <style>
      {{ this.theme.custom_css }}
      </style>
    {% endif %}

  </head>
  <body class="lt-theme-{{ this.theme.config.code }} lt-layout-{{ this.layout.id }} lt-page-{{ this.page.id }}">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TST4R2"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <div id="lt-page-surround">
      <section id="lt-navigation" class="lt-section section lt-no-background">
        <div class="lt-row row">
          <div class="lt-content lt-navigation-content">
            {% partial "pages-all/navigation" %}
          </div>
        </div>
      </section>

      {% page %}

      <section id="lt-footer" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-footer-content">
            {% partial "pages-all/footer" %}
          </div>
        </div>
      </section>

      <section id="lt-copyright" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-copyright-content">
            {% partial "pages-all/copyright" %}
          </div>
        </div>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ this.theme.jQuery_version }}/jquery.min.js"></script>
    <script src="{{ ['assets/js/materialize.min.js','assets/js/theme.js']|theme }}"></script>

    {% if this.theme.load_octobercms_framework %}
      {% framework extras %}
    {% endif %}

    {% partial "_addons/js" %}

    {% scripts %}

    {% if this.theme.custom_js %}
      <script>
      {{ this.theme.custom_js }}
      </script>
    {% endif %}
  </body>
</html>